<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FONTAWESOME -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- CDN VUE -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js' integrity='sha512-DJ2+sosWB5FnZAIeCWAHu2gxQ7Gi438oOZLcBQSOrW8gD0s7LIXDv/5RW76B3FcljF40BXnfqNIo6Dhp7dFHJg==' crossorigin='anonymous'></script>

  <title>Vue To Do List</title>
</head>
<body>

  <div id="app">

    <div class="logo">
      <img src="assets/img/IMG_20230414_145904_469.jpg" alt="Logo Boolean">
    </div>

    <div class="input-group">
      <input type="text" placeholder="Inserisci Task">
      <button>Aggiungi</button>
      <div>
        <span>{{errorMsg}}</span>
      </div>
    </div>

    <div class="container">

        <h2 v-if="tasks.length === 0">Non ci sono Tasks &#128526;</h2>

        <ul v-else class="tasks-list">
          <li 
            v-for="(task, index) in tasks" 
            @click="task.done = !task.done"
            >

            <span :class="{'done' : task.done}">{{task.text}}</span>

            <i 
              class="fa-solid fa-trash"
              @click.stop="deleteTask(index)"></i>
          </li>          
        </ul>
    </div>

  </div>
  

  <script src="assets/js/script.js"></script>
</body>
</html>